.page-footer {
  width: 320px;
  margin: 0 auto;
}
.page-footer__wrapper {
  width: auto;
}
.page-footer__contacts {
  width: auto;
  margin: 0 auto;
}
.page-footer__social {
  width: auto;
  height: 100px;
  margin: 0;
}
.page-footer__copyright {
  width: auto;
  height: 140px;
  margin: 0;
}
