.advantages {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: @tablet-width) {
  .advantages {
    width: 640px;
  }
}
@media (min-width: @desktop-width) {
  .advantages {
    width: 960px;
  }
  .advantages__wrapper {
    display: flex;
  }
}