.advantages {
  width: 320px;
  margin: 0 auto;

  background-color: @bg-darkgrey;
}

.advantages__list {
  width: 230px;
	margin-bottom: 15px;

	list-style: none;
	text-align: center;
}


.advantages__title {
	font-size: 30px;
	line-height: 42px;
	font-weight: bold;
	text-transform: uppercase;
}

.advantages__description {
	font-size: 20px;
	line-height: 27px;
}

.advantages__toggles {
	display: flex;
	justify-content: center;
}

.slider__toggle {
	display: block;
	width: 10px;
	height: 15px;
	margin-right: 22px;

	border: 2px solid #ffffff;
	background-color: @bg-darkgrey;

	transform: rotate(45deg);

	&-active{
		display: block;
		width: 10px;
		height: 15px;
		margin-right: 22px;
		border: 2px solid #ffffff;
		background-color: #ffffff;

		transform: rotate(45deg);
	}
}

.advantages__border {
	display: inline-block;

	width: 0;
	height: 0;
	border: solid #ffffff;
	border-top-color: @bg-darkgrey;
	border-top-width: 35px;
	border-right-width: 160px;
	border-bottom-width: 0px;
	border-left-width: 160px;
	margin: 0;
}

@media (min-width: @tablet-width) {
  .advantages {
    width: 768px;
  }

  .advantages__list {
    width: 640px;
		text-align: left;

  }

	.advantages__list {
		position: relative;
		margin: 0 auto;
	}

	.advantages__item {
		width: 578px;
		margin: 0 auto;
		padding: 0;
		border-bottom: 1px solid #4a4a4a;
		&:last-child {
			border: none;
		}
	}


	.advantages__title {
		margin-left: 115px;
		line-height: 30px;
	}

	.advantages__description {
		margin-left: 115px;
	}


	.advantages__item--fast
	.advantages__images {
		position: absolute;
		left: 60px;
		top: 8px;
	}

	.advantages__item--cool
	.advantages__images {
		position: absolute;
		left: 60px;
		top: 170px;
	}

	.advantages__item--price
	.advantages__images {
		position: absolute;
		left: 60px;
		top: 332px;
	}

	.advantages__toggles {
		display: none;
	}

	.advantages__border {
		border-top-width: 45px;
		border-right-width: 384px;
		border-left-width: 384px;
	}
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 1200px;
  }

  .advantages__wrapper {
    display: flex;
  }

  .advantages__list {
    width: 960px;
		margin-top: 80px;
		position: static;

		display: flex;
		justify-content: space-between;
  }

	.advantages__item {
		width: 320px;
	}

	.advantages__title {
		margin: 0 auto;
		line-height: 30px;
	}

	.advantages__description {
		margin: 0 auto;
	}


	.advantages__item--fast
	.advantages__images {
		position: static;
	}

	.advantages__item--cool
	.advantages__images {
		position: static;
	}

	.advantages__item--price
	.advantages__images {
		position: static;
	}

	.advantages__toggles {
		display: none;
	}

	.advantages__item {
    border: none;
    text-align: center;
	}
	
	.advantages__title {
		margin-top: 30px;
	}
	
	.advantages__description {
		max-width: 240px;
		margin-top: 20px;
	}

		.advantages__border {
			border-top-width: 64px;
			border-right-width: 600px;
			border-left-width: 600px;
	}
}
