.advantages {
  width: 320px;
  margin: 0 auto;

  background-color: @bg-darkgrey;
}

.advantages__list {
  width: 230px;
	
	list-style: none;
	text-align: center;
}

.advantages__title {
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
}

.advantages__description {
	font-size: 20px;
	line-height: 27px;
}

.advantages__toggles {
	display: flex;
	justify-content: center;
}

.slider__toggle {
	display: block;
	width: 10px;
	height: 15px;
	margin-right: 22px;
	
	border: 2px solid #ffffff;
	background-color: @bg-darkgrey;
	
	transform: rotate(45deg);

	&-active{
		display: block;
		width: 10px;
		height: 15px;
		margin-right: 22px;
		border: 2px solid #ffffff;
		background-color: #ffffff;
		
		transform: rotate(45deg);
	}
}

.advantages__border {
	display: inline-block;
	
	width: 0;
	height: 0;
	border: solid #ffffff;
	border-top-color: @bg-darkgrey;
	border-top-width: 35px;
	border-right-width: 160px;
	border-bottom-width: 0px;
	border-left-width: 160px;
}

@media (min-width: @tablet-width) {
  .advantages {
    width: 768px;
  }

  .advantages__list {
    width: 640px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 1200px;
  }

  .advantages__wrapper {
    display: flex;
  }

  .advantages__list {
    width: 960px;
  }
}
