.news {
  width: 320px;
  margin: 0 auto;
	margin-top: -34px;
	padding-bottom: 30px;
	
	color: @bg-darkgrey;
	
	border-top: #ffffff;
	border-bottom: 1px solid #e5ddd5;
	
	background-color: #f8f5f2;
}

.news__wrapper {
  width: 280px;
	margin: 0 auto;
}

.news__title {
	padding-top: 36px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.news__list {
	padding: 0;
}

.news__item {
	width: auto;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	
	&:nth-child(1){
		border-bottom: 1px solid #e5ddd5;
	}
}


.news__date {
	width: 50px;
	height: 50px;
	display: block;
	margin-top: 27px;
	
	
	position: relative;
	
	border: 1px solid #1d1d1c; 
	border-bottom: none;
	
	background-color: #000000;
	
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	line-height: 10px;
	
	&::before {
		content: '';
		position: absolute;
		right: 0;
		top: 50px;
		display: inline-block;

		width: 0;
		height: 0;
		border: solid #f8f5f2;
		border-top-color: #000000;
		border-top-width: 11px;
		border-right-width: 25px;
		border-bottom-width: 0px;
		border-left-width: 25px;
		margin: 0;
	}
}

.news__day {
	font-size: 30px;
	line-height: 30px;
	display: block;
	padding: 0;
	margin: 0;
	margin-top: 5px;
	
}

.news__text {
	max-width: 210px;
	font-size: 18px;
	line-height: 27px;
	color: #000000;
}

.news__to-all {
	display: block;
	width: auto;
	margin-bottom: 27px;
	padding-top: 16px;
	padding-bottom: 16px;
	
	border: 1px solid #e5ddd5;
	
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	line-height: 24px;
	text-decoration: none;
	text-transform: uppercase;
}


@media (min-width: @tablet-width) {
    .news {
        width: 768px;
				margin-top: -7px;
    }

	.news__wrapper {
		display: flex;
		width: 640px;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	.news__title {
		width: 320px;
		
		font-size: 40px;
		line-height: 30px;
		text-align: left;
	}
  
    .news__list {
        width: auto;
			order: 3;
			display: flex;
			flex-wrap: wrap;
			
    }
	
	.news__item {
		width: 320px;
		margin: 0;
		justify-content: flex-start;
		
		&:nth-child(1){
			border: none;
		}
	}
	
	.news__date {
		margin-right: 20px;
	}

    .news__to-all {
        order: 2;
			display: block;
			margin-top: 50px;
			width: 160px;
    }
}

@media (min-width: @desktop-width) {
    .news {
        width: 1200px;
				margin-top: -20px;
    }

    .news__wrapper {
			padding-top: 140px;
			width: 960px;
			
    }
	
	.news__title {
		margin-left: 71px;
	}
  
    .news__list {
        width: 960px;
    }

    .news__to-all {
			
			
			width: 160px;
    }
}