.news {
  width: 320px;
  margin: 0 auto;
	margin-top: -34px;
	
	color: @bg-darkgrey;
	
	background-color: #ffffff;
}

.news__wrapper {
  width: 280px;
	margin: 0 auto;
}

.news__title {
	padding-top: 36px;
	
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	text-align: 30px;
	text-transform: uppercase;
}

.news__item {
	display: flex;
}

@media (min-width: @tablet-width) {
    .news {
        width: 768px;
    }

    .news__wrapper {
        display: flex;
    }
  
    .news__list {
        width: 586px;
    }

    .news__to-all {
        order: 2;
    }
}

@media (min-width: @desktop-width) {
    .news {
        width: 1200px;
    }

    .news__wrapper {
        display: flex;
    }
  
    .news__list {
        width: 960px;
    }

    .news__to-all {
        order: 2;
    }
}