.news {
    width: 320px;
}

@media (min-width: @tablet-width) {
    .news {
        width: 640px;
    }

    .news__wrapper {
        display: flex;
    }

    .news__to-all {
        order: 2;
    }
}

@media (min-width: @desktop-width) {
    .news {
        width: 960px;
    }

    .news__wrapper {
        display: flex;
    }

    .news__wrapper {
        order: 2;
    }
}