.reviews {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.reviews__wrapper {
  width: 280px;
  display: flex;
  margin: 0 auto;
}

.reviews__list {
  width: 264px;
}

.reviews__author-picture {
  width: 50px;
}

.reviews__text {
  width: 200px;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: 640px;
  }

  .reviews__wrapper {
    display: flex;
    margin: 0;
  }

  .reviews__list {
  width: 542px;
  }

  .reviews__author-picture {
  width: 50px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 1200px;
  }

  .reviews__wrapper {
    display: flex;
  }

  .reviews__list {
  width: 818px;
  }
}
